x-common: &common
  build:
    context: .
    dockerfile: Dockerfile

  working_dir: /app
  network_mode: host
  restart: "no"

  volumes:
    - .:/app
    - ~/.aws:/home/aefluser/.aws:ro

  environment: &common-env
    AWS_REGION: "us-east-1"
    S3_BUCKET: "aefl"
    DATASET: "${DATASET}"

    FL_MODE: "AEFL"
    FL_ROUNDS: 20
    BATCH_SIZE: 64
    LOCAL_EPOCHS: 1
    LR: 0.001
    HIDDEN_SIZE: 64

    DEVICE_POWER_WATTS: 3.5
    NET_J_PER_MB: 0.6

    DP_ENABLED: "false"
    DP_SIGMA: 0.01

    COMPRESSION_ENABLED: "false"
    COMPRESSION_MODE: "sparsify"
    COMPRESSION_SPARSITY: 0.5
    COMPRESSION_K_FRAC: 0.1

services:

  client_roadside:
    <<: *common
    container_name: client_roadside
    environment:
      <<: *common-env
      CLIENT_ROLE: "roadside"
    command: [ "python", "-u", "-m", "src.fl.client" ]

  client_vehicle:
    <<: *common
    container_name: client_vehicle
    environment:
      <<: *common-env
      CLIENT_ROLE: "vehicle"
    command: [ "python", "-u", "-m", "src.fl.client" ]

  client_sensor:
    <<: *common
    container_name: client_sensor
    environment:
      <<: *common-env
      CLIENT_ROLE: "sensor"
    command: [ "python", "-u", "-m", "src.fl.client" ]

  client_camera:
    <<: *common
    container_name: client_camera
    environment:
      <<: *common-env
      CLIENT_ROLE: "camera"
    command: [ "python", "-u", "-m", "src.fl.client" ]

  client_bus:
    <<: *common
    container_name: client_bus
    environment:
      <<: *common-env
      CLIENT_ROLE: "bus"
    command: [ "python", "-u", "-m", "src.fl.client" ]
